body {
  background-color: #CECECE;
font-size: 62.5%;
margin: 2%;
}





/*-----------------------------------mobile-------------------------------------
------------------------------------------------------------------------------*/
@media screen and (max-width:320px){



header{

font-family: "Lobster", cursive;
padding-top: 25%;
padding-bottom: 35%;
}

h1 {
  padding-bottom: 35%;
  text-align: center;
font-size: 4em;
}

header input{
width: 48%;
text-decoration: none;

}
.bouton {
  text-decoration: none;
}

#lastbutton {
padding-left: 25%;
text-decoration: none;
}

}
